/* inicio estilos del index */
::selection {
	color: slateblue;
	background-color: lavender;
}
#intro {
	background: url(icon/bg1.png);
	background-size: cover;
}
body {
	font-size: 1.25rem;
	font-family: Muli, sans-serif;
	line-height: 1.8;
}
h1 {
	font-size: 5rem;
	font-family: Oswald, sans-serif;
	line-height: 1.3;
	padding-bottom: 3rem;
}
header > nav {
	font-size: 1.125rem;
}
header #logo:hover {
	transform: scale(1.2) rotate(1turn);
	transition-duration: 0.5s;
}
.btn-intro {
	border: 0;
	background-color: #D78920;
	color: #FFFFFF;
}
.btn-intro:hover {
	background-color: #0D5C83;
	font-weight: bold;
}
footer {
	color: #C0C0C0;
	font-size: 1.125rem;
	letter-spacing: 0.125rem;
	padding-top: 2.5rem;
	position: relative;
	bottom: 0;
}
a:hover {
	text-decoration: none;
	font-weight: bold;
}
/* fin estilos del index */

/* inicio estilos del temario */
#temario {
	background: url(icon/bg.png) fixed;
	background-size: cover;
}
#temario a {
	color: #2D2D2D;
}
#temario .card {
	border: 0;
	background-color: transparent;
}
ul li {
	list-style-type: disc;
}
#temariofooter {
	padding-top: 0;
}
@media (max-width: 800px) { /*estilos para cuando el ancho de la pantalla es menor a 800px*/
	#temario {
		padding-left: 2rem;
	}
    #temariofooter { 
    	padding-top: 2.5rem;
  		padding-bottom: 1rem;
    }
}
/* fin estilos del temario */